
	
	
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgba(22, 0, 13, 0.329);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #22161b;
		height: 100vh;
		position: relative;
		opacity: 0.9;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav li a{
		display: flex;
		text-decoration: none;
		padding: 25px;
		color: #faf2f5;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav li a:hover{
		border-left: 5px solid #fa6592;
		background: #502632;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #f5e6eb;
		cursor: pointer;
		font-size: 20px;
	}
	.cont-menu ul, ol {
		list-style:none;
	}
	
	.cont-menu nav > li {
		float:inline-start;
	}
	.cont-menu nav li ul {
		display:none;
		position:relative;
		min-width:110px;
		
		
	}
	
	.cont-menu nav li:hover > ul {
		display:contents;
	}
	
	.cont-menu nav li ul li {
		position:relative;
	}
	.nav li ul li ul {
		right:-110px;
		top:0px;
	}
	img{
		width: 25px;
		height: 25px;
	}
	