 body {
    font-family: Arial, sans-serif;
  }
  /*voy a reciclar la siguiente clase*/
  .tabla {
    width: 100%;
    max-width: 800px;
    margin-top: 150px  ;
    margin-left: 300px;
    padding: 20px;

    border-radius: 15px;
    background-color: rgb(255, 241, 252);
    opacity: 0.9;
    filter: alpha(opacity=100);
    zoom: 1;
  }
  
  .tabla h1 {
    text-align: center;
  }
  
  .titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgb(114, 52, 73);
}
  .tabla .datos-cliente {
    margin-bottom: 20px;
  }
  
  .tabla .datos-cliente p {
    margin: 0;
  }
  
  .tabla-productos {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .tabla .tabla-productos th,
  .tabla .tabla-productos td {
    border: 1px solid #000000;
    padding: 8px;
  }
  
  .tabla .tabla-productos th {
    background-color: #460626;
  }
  
  .tabla .total {
    text-align: right;
  }
  .position{
    text-align: right;
  }